@media (min-width: 3000px) 
{
    .main-container3 {
        position: relative;
        text-align: center;
        height: 100vh;
        width: 100vh;
    }
    
    .image-top-left3 {
        position: absolute;
        top: -12%;
        left: -35%;
        width: 90%;
        height: auto;
    }
    
    .image-top-right13 {
        position:fixed;
        top: 58%;
        margin-left: 74%;
        margin-right: 0%;
        margin-bottom: 0%;
        display: flex;
        width: 15%;
        gap: 1%;
    }
    
    .image-top-right23 
    {
        position:fixed;
        top: 41%;
        margin-left: 74%;
        margin-right: 0%;
        margin-bottom: 0%;
        display: flex;
        width: 15%;
        gap: 1%;
    }
    
    .video-wrapper3 {
        position: fixed;
        display: flex;
        align-items: center;
        height: 75%;
        width: 60%;
        border-radius: 10px;
        margin-left: -15%;
        margin-right: 15%;
        /*overflow: hidden;*/
    }
    
    .video-player3 {    
        width: 80%;
        height: 96%;
        margin-top: 49%;
        margin-left: 5%;
        border: 5px solid #1b489b;
        border-radius: 10px;
    }
    
    .button-container3 {
        position: fixed;
        /*top: 50%;*/
        /*margin-right: 0%;*/
        /*margin-left: 85%;*/
        display: flex;
        flex-direction: column;
        padding-bottom: 50%;
        margin-left: 73%;
        margin-right: 4%;
        margin-top: -35%;
        /*transform: translateX(82.5%);*/
        transform: translate(80%);
        transform: translateY(-30%);
    }
    
    .button-image3 {
        cursor: pointer;
        margin-bottom: 15%;
        width: 100%;
    }
    
    .bottom-left-button3 {
        position: absolute;
        bottom:6%;
        left: 3%;
        cursor: pointer;
        width: 25%;
        height: auto;
    }

    .Titulo45 {
        position: fixed;
        margin-left: 3%;
        margin-bottom: 0%;
        margin-top: -2%;
        transform: translateY(240%);
        color: #1b489b;
        font-size: 250px;
        font-family: 'Segoe UI';
        font-weight: 700; /* Usa un peso alto para mayor grosor */
        letter-spacing: -20px; /* Ajusta el espaciado entre letras si lo deseas */
        text-transform: uppercase; /* Convierte el texto a mayúsculas */
        text-shadow: 1px 1px 0 #1b489b, -1px -1px 0 #1b489b, 1px -1px 0 #1b489b, -1px 1px 0 #1b489b;
    }
    
    .bottom-left-button23 {
        position: fixed;
        bottom: 6%;
        left: 30%;
        cursor: pointer;
        width: 25%;
        height: auto;
    }
    
    .image-bottom-left3 {
        position: fixed;
        top: 92.5%;
        bottom: 0%;
        left: 37%;
        width: 80%;
        height: auto;
    }
    
    
}

@media (min-width: 1600px) and (max-width: 2900px)
{
    .main-container3 {
        position: relative;
        text-align: center;
        height: 100vh;
        width: auto;
    }
    
    .image-top-left3 {
        position: absolute;
        top: -13%;
        left: -35%;
        width: 90%;
        height: auto;
    }
    
    .image-top-right13 {
        position:fixed;
        top: 58%;
        margin-left: 74%;
        margin-right: 0%;
        margin-bottom: 0%;
        display: flex;
        width: 20%;
        gap: 1%;
    }
    
    .image-top-right23 
    {
        position:fixed;
        top: 41%;
        margin-left: 74%;
        margin-right: 0%;
        margin-bottom: 0%;
        display: flex;
        width: 20%;
        gap: 1%;
    }
    
    .video-wrapper3 {
        position: fixed;
        display: flex;
        align-items: center;
        height: 77%;
        width: 70%;
        border-radius: 10px;
        margin-left: -2%;
        /*overflow: hidden;*/
    }
    
    .video-player3 {
        
        width: auto;
        height: 96%;
        margin-top: 49%;
        margin-left: 5%;
        border: 15px solid #1b489b;
        border-radius: 10px;
    }
    
    .button-container3 {
        position: fixed;
        /*top: 50%;*/
        /*margin-right: 0%;*/
        /*margin-left: 85%;*/
        display: flex;
        flex-direction: column;
        padding-bottom: 50%;
        margin-left: 73%;
        margin-right: 4%;
        margin-top: -35%;
        /*transform: translateX(82.5%);*/
        transform: translate(80%);
        transform: translateY(-30%);
    }
    
    .button-image3 {
        cursor: pointer;
        margin-bottom: 15%;
        width: 110%;
    }
    
    .bottom-left-button3 {
        position: absolute;
        bottom:6%;
        left: 3%;
        cursor: pointer;
        width: 27%;
        height: auto;
    }

    .Titulo45 {
        position: fixed;
        margin-left: 3%;
        transform: translateY(260%);
        color: #1b489b;
        font-size: 130px;
        font-family: 'Segoe UI';
        font-weight: 900; /* Usa un peso alto para mayor grosor */
        letter-spacing: 1px; /* Ajusta el espaciado entre letras si lo deseas */
        text-transform: uppercase; /* Convierte el texto a mayúsculas */
        text-shadow: 1px 1px 0 #1b489b, -1px -1px 0 #1b489b, 1px -1px 0 #1b489b, -1px 1px 0 #1b489b;
    }
    
    .bottom-left-button23 {
        position: fixed;
        bottom: 6%;
        left: 32%;
        cursor: pointer;
        width: 27%;
        height: auto;
    }
    
    .image-bottom-left3 {
        position: fixed;
        top: 92.5%;
        bottom: 0%;
        left: 37%;
        width: 80%;
        height: auto;
    }
    
    
}

@media (min-width: 1281px) and (max-width: 1599px)
{
    .main-container3 {
        position: relative;
        text-align: center;
        height: 100vh;
        width: auto;
    }
    
    .image-top-left3 {
        position: absolute;
        top: -15%;
        left: -35%;
        width: 90%;
        height: auto;
    }
    
    .image-top-right13 {
        position:fixed;
        top: 58%;
        margin-left: 74%;
        margin-right: 0%;
        margin-bottom: 0%;
        display: flex;
        width: 25%;
        gap: 1%;
    }
    
    .image-top-right23 
    {
        position:fixed;
        top: 41%;
        margin-left: 74%;
        margin-right: 0%;
        margin-bottom: 0%;
        display: flex;
        width: 25%;
        gap: 1%;
    }
    
    .video-wrapper3 {
        position: fixed;
        display: flex;
        align-items: center;
        height: 77%;
        width: 80%;
        border-radius: 10px;
        margin-left: -2%;
        /*overflow: hidden;*/
    }
    
    .video-player3 {
        
        width: auto;
        height: 96%;
        margin-top: 40%;
        margin-left: 5%;
        border: 5px solid #1b489b;
        border-radius: 10px;
    }
    
    .button-container3 {
        position: fixed;
        /*top: 50%;*/
        /*margin-right: 0%;*/
        /*margin-left: 85%;*/
        display: flex;
        flex-direction: column;
        padding-bottom: 50%;
        margin-left: 73%;
        margin-right: 4%;
        margin-top: -35%;
        /*transform: translateX(82.5%);*/
        transform: translate(80%);
        transform: translateY(-30%);
    }
    
    .button-image3 {
        cursor: pointer;
        margin-bottom: 15%;
        width: 110%;
    }
    
    .bottom-left-button3 {
        position: absolute;
        bottom:6%;
        left: 3%;
        cursor: pointer;
        width: 25%;
        height: auto;
    }

    .Titulo45 {
        position: fixed;
        margin-left: 3%;
        transform: translateY(340%);
        color: #1b489b;
        font-size: 40px;
        font-family: 'Segoe UI';
        font-weight: 700; /* Usa un peso alto para mayor grosor */
        letter-spacing: 1px; /* Ajusta el espaciado entre letras si lo deseas */
        text-transform: uppercase; /* Convierte el texto a mayúsculas */
        text-shadow: 1px 1px 0 #1b489b, -1px -1px 0 #1b489b, 1px -1px 0 #1b489b, -1px 1px 0 #1b489b;
    }
    
    .bottom-left-button23 {
        position: fixed;
        bottom: 6%;
        left: 30%;
        cursor: pointer;
        width: 25%;
        height: auto;
    }
    
    .image-bottom-left3 {
        position: fixed;
        top: 92.5%;
        bottom: 0%;
        left: 37%;
        width: 80%;
        height: auto;
    }
    
    
}

@media (min-width: 481px) and (max-width: 1280px) 
{
    .main-container3 {
        position: relative;
        text-align: center;
        height: 100vh;
        width: auto;
    }
    
    .image-top-left3 {
        position: absolute;
        top: -16%;
        left: -35%;
        width: 90%;
        height: auto;
    }
    
    .image-top-right13 {
        position:fixed;
        top: 65%;
        margin-left: 70%;
        margin-right: 0%;
        margin-bottom: 0%;
        display: flex;
        width: 25%;
        gap: 1%;
    }
    
    .image-top-right23 
    {
        position:fixed;
        top: 41%;
        margin-left: 70%;
        margin-right: 0%;
        margin-bottom: 0%;
        display: flex;
        width: 25%;
        gap: 1%;
    }
    
    .video-wrapper3 {
        position: fixed;
        display: flex;
        align-items: center;
        height: 70%;
        width: 100%;
        border-radius: 10px;
        margin-left: 1%;
        margin-top: 4%;
        /*overflow: hidden;*/
    }
    
    .video-player3 {
        
        width: auto;
        height: 100%;
        margin-top: 65%;
        margin-left: 7%;
        border: 3px solid #1b489b;
        border-radius: 10px;
    }
    
    .button-container3 {
        position: fixed;
        /*top: 50%;*/
        /*margin-right: 0%;*/
        /*margin-left: 85%;*/
        display: flex;
        flex-direction: column;
        padding-bottom: 50%;
        margin-left: 73%;
        margin-right: 4%;
        margin-top: -35%;
        /*transform: translateX(82.5%);*/
        transform: translate(80%);
        transform: translateY(-30%);
    }
    
    .button-image3 {
        cursor: pointer;
        margin-bottom: 15%;
        width: 110%;
    }
    
    .bottom-left-button3 {
        position: absolute;
        bottom: 6%;
        left: 3%;
        cursor: pointer;
        width: 25%;
        height: auto;
    }

    .Titulo45 {
        position: fixed;
        margin-left: 3%;
        transform: translateY(350%);
        color: #1b489b;
        font-size: 40px;
        font-family: 'Segoe UI';
        font-weight: 700; /* Usa un peso alto para mayor grosor */
        letter-spacing: 1px; /* Ajusta el espaciado entre letras si lo deseas */
        text-transform: uppercase; /* Convierte el texto a mayúsculas */
        text-shadow: 1px 1px 0 #1b489b, -1px -1px 0 #1b489b, 1px -1px 0 #1b489b, -1px 1px 0 #1b489b;
    }
    
    .bottom-left-button23 {
        position: fixed;
        bottom: 6%;
        left: 30%;
        cursor: pointer;
        width: 25%;
        height: auto;
    }
    
    .image-bottom-left3 {
        position: fixed;
        top: 92.5%;
        bottom: 0%;
        left: 37%;
        width: 80%;
        height: auto;
        visibility: hidden;
    }
    
    
}

/* Estilos específicos para móviles de 414px de ancho (como iPhone 11 Pro Max y similares) */
@media (min-width: 414px) and (max-width: 896px)
{
    .main-container3 {
        position: relative;
        text-align: center;
        height: 100vh;
        width: auto;
    }
    
    .image-top-left3 {
        position: absolute;
        top: -10%;
        left: -35%;
        width: 90%;
        height: auto;
    }
    
    .image-top-right13 {
        position:fixed;
        top: 54%;
        margin-left: 73%;
        margin-right: 0%;
        margin-bottom: 0%;
        display: flex;
        width: 25%;
        gap: 1%;
    }
    
    .image-top-right23 
    {
        position:fixed;
        top: 41%;
        margin-left: 73%;
        margin-right: 0%;
        margin-bottom: 0%;
        display: flex;
        width: 25%;
        gap: 1%;
    }
    
    .video-wrapper3 {
        position: fixed;
        display: flex;
        align-items: center;
        height: 62%;
        width: 62%;
        border-radius: 10px;
        margin-left: -2%;
        margin-top: 14%;
        /*overflow: hidden;*/
    }
    
    .video-player3 {
        
        width: auto;
        height: 90%;
        margin-top: 49%;
        margin-left: 5%;
        border: 3px solid #1b489b;
        border-radius: 10px;
    }
    
    .button-container3 {
        position: fixed;
        /*top: 50%;*/
        /*margin-right: 0%;*/
        /*margin-left: 85%;*/
        display: flex;
        flex-direction: column;
        padding-bottom: 50%;
        margin-left: 73%;
        margin-right: 4%;
        margin-top: -35%;
        /*transform: translateX(82.5%);*/
        transform: translate(80%);
        transform: translateY(-30%);
    }
    
    .button-image3 {
        cursor: pointer;
        margin-bottom: 15%;
        width: 110%;
    }
    
    .bottom-left-button3 {
        position: absolute;
        bottom: 22%;
        left: 3%;
        cursor: pointer;
        width: 30%;
        height: auto;
    }

    .Titulo45 {
        position: fixed;
        margin-left: 3%;
        transform: translateY(340%);
        color: #1b489b;
        font-size: 27px;
        font-family: 'Segoe UI';
        font-weight: 700; /* Usa un peso alto para mayor grosor */
        letter-spacing: 1px; /* Ajusta el espaciado entre letras si lo deseas */
        text-transform: uppercase; /* Convierte el texto a mayúsculas */
        text-shadow: 1px 1px 0 #1b489b, -1px -1px 0 #1b489b, 1px -1px 0 #1b489b, -1px 1px 0 #1b489b;
    }
    
    .bottom-left-button23 {
        position: fixed;
        bottom: 22%;
        left: 35%;
        cursor: pointer;
        width: 30%;
        height: auto;
    }
    
    .image-bottom-left3 {
        position: fixed;
        top: 92.5%;
        bottom: 0%;
        left: 37%;
        width: 80%;
        height: auto;
        visibility: hidden;
    }
    
    
}

/* Estilos para dispositivos móviles de tamaño medio a grande */
@media (max-width: 480px) and (min-width: 375px)
{
    .main-container3 {
        position: relative;
        text-align: center;
        height: 100vh;
        width: auto;
    }
    
    .image-top-left3 {
        position: absolute;
        top: -12%;
        left: -35%;
        width: 90%;
        height: auto;
    }
    
    .image-top-right13 {
        position:fixed;
        top: 58%;
        margin-left: 73%;
        margin-right: 0%;
        margin-bottom: 0%;
        display: flex;
        width: 25%;
        gap: 1%;
    }
    
    .image-top-right23 
    {
        position:fixed;
        top: 41%;
        margin-left: 73%;
        margin-right: 0%;
        margin-bottom: 0%;
        display: flex;
        width: 25%;
        gap: 1%;
    }
    
    .video-wrapper3 {
        position: absolute;
        display: absolute;
        align-items: center;
        height: 65%;
        width: 65%;
        border-radius: 10px;
        margin-left: -2%;
        margin-top: 12%;
        /*overflow: hidden;*/
    }
    
    .video-player3 {
        
        width: auto;
        height: 90%;
        margin-top: 49%;
        margin-left: 5%;
        border: 3px solid #1b489b;
        border-radius: 10px;
    }
    
    .button-container3 {
        position: fixed;
        /*top: 50%;*/
        /*margin-right: 0%;*/
        /*margin-left: 85%;*/
        display: flex;
        flex-direction: column;
        padding-bottom: 50%;
        margin-left: 73%;
        margin-right: 4%;
        margin-top: -35%;
        /*transform: translateX(82.5%);*/
        transform: translate(80%);
        transform: translateY(-30%);
    }
    
    .button-image3 {
        cursor: pointer;
        margin-bottom: 15%;
        width: 110%;
    }
    
    .bottom-left-button3 {
        position: absolute;
        bottom: 12%;
        left: 3%;
        cursor: pointer;
        width: 30%;
        height: auto;
    }

    .Titulo45 {
        position: fixed;
        margin-left: 3%;
        transform: translateY(340%);
        color: #1b489b;
        font-size: 20px;
        font-family: 'Segoe UI';
        font-weight: 700; /* Usa un peso alto para mayor grosor */
        letter-spacing: 1px; /* Ajusta el espaciado entre letras si lo deseas */
        text-transform: uppercase; /* Convierte el texto a mayúsculas */
        text-shadow: 1px 1px 0 #1b489b, -1px -1px 0 #1b489b, 1px -1px 0 #1b489b, -1px 1px 0 #1b489b;
    }
    
    .bottom-left-button23 {
        position: absolute;
        bottom: 12%;
        left: 35%;
        cursor: pointer;
        width: 30%;
        height: auto;
    }
    
    .image-bottom-left3 {
        position: fixed;
        top: 92.5%;
        bottom: 0%;
        left: 37%;
        width: 80%;
        height: auto;
        visibility: hidden;
    }
    
    
}

/* Estilos para dispositivos móviles pequeños */
@media (min-width: 320px) and (max-width: 374px)
{
    .main-container3 {
        position: relative;
        text-align: center;
        height: 100vh;
        width: auto;
    }
    
    .image-top-left3 {
        position: absolute;
        top: -12%;
        left: -35%;
        width: 90%;
        height: auto;
    }
    
    .image-top-right13 {
        position:fixed;
        top: 58%;
        margin-left: 73%;
        margin-right: 0%;
        margin-bottom: 0%;
        display: flex;
        width: 25%;
        gap: 1%;
    }
    
    .image-top-right23 
    {
        position:fixed;
        top: 41%;
        margin-left: 73%;
        margin-right: 0%;
        margin-bottom: 0%;
        display: flex;
        width: 25%;
        gap: 1%;
    }
    
    .video-wrapper3 {
        position: fixed;
        display: flex;
        align-items: center;
        height: 65%;
        width: 70%;
        border-radius: 10px;
        margin-left: -2%;
        margin-top: 12%;
        /*overflow: hidden;*/
    }
    
    .video-player3 {
        
        width: auto;
        height: 100%;
        margin-top: 49%;
        margin-left: 5%;
        border: 3px solid #1b489b;
        border-radius: 10px;
    }
    
    .button-container3 {
        position: fixed;
        /*top: 50%;*/
        /*margin-right: 0%;*/
        /*margin-left: 85%;*/
        display: flex;
        flex-direction: column;
        padding-bottom: 50%;
        margin-left: 73%;
        margin-right: 4%;
        margin-top: -35%;
        /*transform: translateX(82.5%);*/
        transform: translate(80%);
        transform: translateY(-30%);
    }
    
    .button-image3 {
        cursor: pointer;
        margin-bottom: 15%;
        width: 110%;
    }
    
    .bottom-left-button3 {
        position: absolute;
        bottom: 15%;
        left: 3%;
        cursor: pointer;
        width: 30%;
        height: auto;
    }

    .Titulo45 {
        position: fixed;
        margin-left: 3%;
        transform: translateY(340%);
        color: #1b489b;
        font-size: 20px;
        font-family: 'Segoe UI';
        font-weight: 700; /* Usa un peso alto para mayor grosor */
        letter-spacing: 1px; /* Ajusta el espaciado entre letras si lo deseas */
        text-transform: uppercase; /* Convierte el texto a mayúsculas */
        text-shadow: 1px 1px 0 #1b489b, -1px -1px 0 #1b489b, 1px -1px 0 #1b489b, -1px 1px 0 #1b489b;
    }
    
    .bottom-left-button23 {
        position: fixed;
        bottom: 12%;
        left: 35%;
        cursor: pointer;
        width: 30%;
        height: auto;
    }
    
    .image-bottom-left3 {
        position: fixed;
        top: 92.5%;
        bottom: 0%;
        left: 37%;
        width: 80%;
        height: auto;
        visibility: hidden;
    }
    
    
}