@media (min-width: 1600px) and (max-width: 2900px)
{
    .main-container7 {
        position: relative;
        text-align: center;
        height: 100vh;
        width: auto;
    }
    
    .image-top-left7 {
        position: absolute;
        top: -14%;
        left: -35%;
        width: 90%;
        height: auto;
    }
    
    .image-top-right17 {
        margin-top: 5%;
        width: 30%;
        margin-right: 2%;
        margin-left: 48%;
        margin-bottom: 0%;
    }
    
    .image-top-right27 {
        position:fixed;
        top: 2%;
        margin-left: 89%;
        margin-right: 0%;
        margin-bottom: 0%;
        display: flex;
        width: 10%;
        gap: 1%;
    }
    
    .video-wrapper7 {
        display: flex;
        align-items: center;
        height: 77%;
        width: 88%;
        border-radius: 10px;
        margin-left: -2%;
        /*overflow: hidden;*/
    }
    
    .video-player7 {
        
        width: auto;
        height: 96%;
        margin-top: 49%;
        margin-left: 5%;
        border: 5px solid #1b489b;
        border-radius: 10px;
    }
    
    .button-container7 {
        position: fixed;
        /*top: 50%;*/
        /*margin-right: 0%;*/
        /*margin-left: 85%;*/
        display: flex;
        flex-direction: column;
        padding-bottom: 50%;
        margin-left: 73%;
        margin-right: 4%;
        margin-top: -35%;
        /*transform: translateX(82.5%);*/
        transform: translate(80%);
        transform: translateY(-30%);
    }
    
    .button-image7 {
        cursor: pointer;
        margin-bottom: 15%;
        width: 110%;
    }
    
    .bottom-left-button7 {
        position: absolute;
        bottom:6%;
        left: 3%;
        cursor: pointer;
        width: 25%;
        height: auto;
    }

    .Titulo7 {
        position: fixed;
        margin-left: 3%;
        transform: translateY(340%);
        color: #1b489b;
        font-size: 40px;
        font-family: 'Segoe UI';
        font-weight: 700; /* Usa un peso alto para mayor grosor */
        letter-spacing: 1px; /* Ajusta el espaciado entre letras si lo deseas */
        text-transform: uppercase; /* Convierte el texto a mayúsculas */
        text-shadow: 1px 1px 0 #1b489b, -1px -1px 0 #1b489b, 1px -1px 0 #1b489b, -1px 1px 0 #1b489b;
    }
    
    .bottom-left-button27 {
        position: fixed;
        bottom: 6%;
        left: 30%;
        cursor: pointer;
        width: 25%;
        height: auto;
    }
    
    .image-bottom-left7 {
        position: fixed;
        top: 92.5%;
        bottom: 0%;
        left: 37%;
        width: 80%;
        height: auto;
        visibility: hidden;
    }
    
    
}

@media (min-width: 1281px) and (max-width: 1599px)
{
    .main-container7 {
        position: relative;
        text-align: center;
        height: 100vh;
        width: auto;
    }
    
    .image-top-left7 {
        position: absolute;
        top: -15%;
        left: -35%;
        width: 90%;
        height: auto;
    }
    
    .image-top-right17 {
        margin-top: 5%;
        width: 30%;
        margin-right: 2%;
        margin-left: 48%;
        margin-bottom: 0%;
    }
    
    .image-top-right27 {
        position:fixed;
        top: 2%;
        margin-left: 89%;
        margin-right: 0%;
        margin-bottom: 0%;
        display: flex;
        width: 10%;
        gap: 1%;
    }
    
    .video-wrapper7 {
        display: flex;
        align-items: center;
        height: 77%;
        width: 88%;
        border-radius: 10px;
        margin-left: -2%;
        /*overflow: hidden;*/
    }
    
    .video-player7 {
        
        width: auto;
        height: 96%;
        margin-top: 49%;
        margin-left: 5%;
        border: 5px solid #1b489b;
        border-radius: 10px;
    }
    
    .button-container7 {
        position: fixed;
        /*top: 50%;*/
        /*margin-right: 0%;*/
        /*margin-left: 85%;*/
        display: flex;
        flex-direction: column;
        padding-bottom: 50%;
        margin-left: 73%;
        margin-right: 4%;
        margin-top: -35%;
        /*transform: translateX(82.5%);*/
        transform: translate(80%);
        transform: translateY(-30%);
    }
    
    .button-image7 {
        cursor: pointer;
        margin-bottom: 15%;
        width: 110%;
    }
    
    .bottom-left-button7 {
        position: absolute;
        bottom:6%;
        left: 3%;
        cursor: pointer;
        width: 25%;
        height: auto;
    }

    .Titulo7 {
        position: fixed;
        margin-left: 3%;
        transform: translateY(340%);
        color: #1b489b;
        font-size: 40px;
        font-family: 'Segoe UI';
        font-weight: 700; /* Usa un peso alto para mayor grosor */
        letter-spacing: 1px; /* Ajusta el espaciado entre letras si lo deseas */
        text-transform: uppercase; /* Convierte el texto a mayúsculas */
        text-shadow: 1px 1px 0 #1b489b, -1px -1px 0 #1b489b, 1px -1px 0 #1b489b, -1px 1px 0 #1b489b;
    }
    
    .bottom-left-button27 {
        position: fixed;
        bottom: 6%;
        left: 30%;
        cursor: pointer;
        width: 25%;
        height: auto;
    }
    
    .image-bottom-left7 {
        position: fixed;
        top: 92.5%;
        bottom: 0%;
        left: 37%;
        width: 80%;
        height: auto;
        visibility: hidden;
    }
    
    
}

/* Estilos para dispositivos móviles de tamaño medio a grande */
@media (max-width: 480px) and (min-width: 350px)
{
    .videoZonaRESERVACION {
        position: absolute;
        height: 15%;
        /*width: 100%;*/
    
        margin-top: 4%;
        margin-left: -50%;
        margin-bottom: 0%;
        margin-right: 0%;
    }

    :root {
        --shadow-x: 90%; /* Posición horizontal de la sombra */
        --shadow-y: 70%; /* Posición vertical de la sombra */
        --shadow-size: 160px; 

        --shadow-x1: 40%; /* Posición horizontal de la sombra */
        --shadow-y1: 20%; /* Posición vertical de la sombra */
        --shadow-size1: 160px; 
    }
    
    .background-containerMAIN {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1; /* Envía el fondo detrás de todos los elementos */
        overflow: hidden;
        background: 
            radial-gradient(circle at 50% 20%, rgba(57, 122, 202, 0.3), transparent), /* Mancha superior en el centro */
            radial-gradient(circle at 90% 90%, rgba(57, 122, 202, 0.3), transparent), /* Mancha inferior derecha */
            radial-gradient(circle var(--shadow-size) at var(--shadow-x) var(--shadow-y), rgba(20, 60, 150, 0.3), transparent),
            radial-gradient(circle var(--shadow-size1) at var(--shadow-x1) var(--shadow-y1), rgba(20, 60, 150, 0.3), transparent); /* Mancha oscura con tamaño ajustable */
    }

    .main-container7 {
        position: relative;
        text-align: center;
        height: 100vh;
        width: auto;
    }
    
    .image-top-left7 {
        position: absolute;
        top: -10%;
        left: -35%;
        width: 90%;
        height: auto;
    }
    
    .image-top-right17 {
        margin-top: 5%;
        width: 30%;
        margin-right: 2%;
        margin-left: 48%;
        margin-bottom: 0%;
    }
    
    .image-top-right27 {
        position:fixed;
        top: 2%;
        margin-left: 89%;
        margin-right: 0%;
        margin-bottom: 0%;
        display: flex;
        width: 10%;
        gap: 1%;
    }
    
    .video-wrapper7   {
        display: flex;
        align-items: center;
        height: 72%;
        width: 72%;
        border-radius: 10px;
        margin-left: -2%;
        margin-top: 0%;
        margin-bottom: 0%;
        /*overflow: hidden;*/
    }
    
    .video-player7 {
        
        width: 90%;
        height: auto;
        margin-top: 45%;
        margin-left: 6%;
        border: 3px solid #1b489b;
        border-radius: 10px;
        z-index: 2;

    }
    
    .button-container7 {
        position: fixed;
        /*top: 50%;*/
        /*margin-right: 0%;*/
        /*margin-left: 85%;*/
        display: flex;
        flex-direction: column;
        padding-bottom: 50%;
        margin-left: 70%;
        margin-right: 4%;
        margin-top: -45%;
        /*transform: translateX(82.5%);*/
        transform: translate(80%);
        transform: translateY(-30%);
        z-index: 2;
    }
    
    .button-image7 {
        cursor: pointer;
        margin-bottom: 15%;
        width: 110%;
    }
    
    .bottom-left-button7 {
        position: absolute;
        bottom: 22.5%;
        left: 3%;
        cursor: pointer;
        width: 28%;
        height: auto;
        z-index: 2;
    }

    .Titulo7 {
        position: fixed;
        margin-left: 5%;
        transform: translateY(300%);
        color: #1b489b;
        font-size: 20px;
        font-family: 'Quicksand';
        font-weight: 900; /* Usa un peso alto para mayor grosor */
        letter-spacing: 1px; /* Ajusta el espaciado entre letras si lo deseas */
        text-transform: uppercase; /* Convierte el texto a mayúsculas */
        text-shadow: 0.6px 0.6px 0 #1b489b, -0.6px -0.6px 0 #1b489b, 0.6px -0.6px 0 #1b489b, -0.6px 0.6px 0 #1b489b;
    }
    
    .bottom-left-button27  {
        position: absolute;
        bottom: 22.5%;
        left: 32%;
        cursor: pointer;
        width: 28%;
        height: auto;
        z-index: 2;
    }
    
    .image-bottom-left7 {
        position: fixed;
        top: 92.5%;
        bottom: 0%;
        left: 37%;
        width: 80%;
        height: auto;
        visibility: hidden;
    }
    
    
}



